:root{
  --bg-primary-color:#0A192F; 
  --text-color: #CCD6F6;
  --bg-btn-color:#800020;
  --line-height: 1.4;
  --padding: 2rem;
  --small-font:14px;
  --big-font: 20px;
  --font-weight:550;
  --border:1px solid #8ecae6;
  --br: 5px;
  --pl:1.5rem;
  --pr:1.5rem;
  --pb:1.5rem;
  --pt:1.5rem;
  --mt:1rem;
  --mb:1rem;
  --ml:1rem;
  --mr:1rem;

  --navpad-left: 5%
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.preview-image {
  width: 100%;
  aspect-ratio: 1/1;
  /* height: auto; */
  transition: opacity 0.3s ease;
}

.preview-image  img{
  width: 100%;
  height: auto;
}

.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-btn-color);
  color: white;
  font-size: 1.2em;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.grid-item:hover .popup-container {
  opacity: 1;
  pointer-events: auto;
}

.grid-item:hover .preview-image {
  opacity: 0; 
}

.live-title{
  pointer-events: none;
  color: var(--text-color);
  font-size: var(--big-font);
  text-decoration: none;
  background-color: inherit;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1rem;

}

.live-view, .code-view {
  margin: 10px 0;
  padding: 10px 20px;
  color: #0A192F;
  background-color: yellow;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.live-view a, .code-view a {
  color: black;
  text-decoration: none;
  background-color: yellow;
}


.live-view:hover, .code-view:hover {
    padding: 0.5rem;
    transition: all 1s ease-in-out;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .live-view, .code-view {
    font-size: 12px;
    padding: 6px 12px;
  }

  .live-title{
    font-size: 12px;
    background-color: inherit;
    text-align: center;
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .grid-container {
    gap: 1rem;
    padding: 1rem;
  }

  .live-view, .code-view {
    font-size: 0.8em;
    padding: 5px 10px;
    /* font-size: 12px; */
  }
}

