:root{
  --bg-primary-color:#0A192F; 
  --text-color: #CCD6F6;
  --bg-btn-color:#800020;
  --code : yellow;
  --line-height: 1.4;
  --padding: 2rem;
  --small-font:14px;
  --big-font: 20px;
  --font-weight:550;
  --border:1px solid #8ecae6;
  --br: 5px;
  --pl:1.5rem;
  --pr:1.5rem;
  --pb:1.5rem;
  --pt:1.5rem;
  --mt:1rem;
  --mb:1rem;
  --ml:1rem;
  --mr:1rem;

  --navpad-left: 5%
}


.about{
  margin-top: 5rem;
  /* border: 1px solid yellow; */
}


.about h1{
  font-size: 30px;
  color: var(--text-color);
  text-align: center;

}

/* .about h1::after {
  content: '';
  position: absolute;
  border-radius: 3px;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 3.5px;
  background-color: var(--bg-btn-color);
  transition: width 0.3s ease;
} */

.underline{
  width: 50px;
  height: 4px;
  border-radius: var(--br);
  background: var(--bg-btn-color);
  text-align: center;
  margin: auto;
}

.about-dev{
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-row-gap: 2rem;
}

.about-hello{
  flex-basis: 46%;
  text-align: left;
  justify-content: start;
  line-height: var(--line-height);
}

.about-me{
  flex-basis: 52%;
  text-align: start;
  line-height: 2;
  font-size: var(--small-font);
  color: var(--text-color);
}

span{
  font-size: 40px;
}

.code{
  margin-top: 5rem;
  color:var(--code);
  font-style: oblique;
  font-weight: lighter;
  font-size: 14px;
}


@media (max-width: 768px) {
  .about{
    margin-bottom: 10rem;
  }

  .about-dev{
    display: block;
    grid-column-gap: 4rem;
    text-align: left;
    justify-content: left;
  }

  .about-hello{
    margin-bottom: var(--mb);
    text-align: left;
    justify-content: left;
  }
  
}

/* 850px  */

@media (max-width: 850px) {
  .about {
    margin-top: 3rem;
  }

  .about h1 {
    font-size: 26px;
    text-align: left;
    margin-bottom: 0;
  }

  .about-dev {
    flex-direction: column;
    grid-row-gap: 3rem;
  }

  .about-hello, .about-me {
    flex-basis: 100%;
    text-align: start;
  }

  .about-me {
    line-height: 1.8;
    font-size: 13px;
  }

  .underline {
    width: 40px;
    height: 3px;
  }

  span {
    font-size: 35px;
  }

  .code {
    font-size: 12px;
  }
}
