.contact-form {
  padding: 80px;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}

.hire{
  color: hsl(0, 0%, 28%);
  text-align: start;
  font-size: 30px!important;
  font-weight: bold!important;
  letter-spacing: 7px!important;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.hire{
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}



@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

.avaliable{
  margin-bottom: 1rem;
  font-size: 40px;
  letter-spacing: 7px!important;
}

.help{
  white-space: wrap;
  line-height: 2rem;
  letter-spacing: 2px!important;
}


.react-icon {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.react-icon li {
  list-style: none;
}

.react-icon a {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: transform 0.5s ease, border-color 0.5s ease;
}

.react-icon a:hover {
  transform: rotate(360deg) skew(-28deg);
  border-color: #ff7300;
}

form p {
  margin-bottom: 15px;
}

.contact-form {
  padding: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  justify-content: center;
  gap: 20px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

form input,
form textarea {
  color: #fff;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none; 
  border-bottom: 1px solid #ff7300; 
  border-radius: 0; 
  background-color: transparent !important; 
}

form textarea {
  resize: vertical; 
}

form input:focus,
form textarea:focus {
  outline: none; 
  border-bottom: 2px solid #ff4300; 
}

.btn{
  text-align: center;
}

.btn button {
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid #ff7300;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  background-color: #ff7300;
}

.btn button:hover {
  background-color: transparent !important;
  color: #ff7300;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 20px;
    grid-template-columns: 1fr;
  }

  .hire {
    font-size: 24px;
  }

  form input,
  form textarea {
    font-size: 14px;
    padding: 10px;
  }

  .btn button {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .contact-form {
    padding: 15px;
  }

  .contact h2 {
    font-size: 18px;
  }

  .hire {
    font-size: 20px;
  }

  form input,
  form textarea {
    padding: 8px;
    font-size: 14px;
  }

  .btn button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
